hello <%= name %>


<h2>Index Homepage</h2>

	
<a href="/register">Register</a>
<a href="/login">Login</a>
<form action="/logout?_method=DELETE" method="POST">
	<button type="submit">Logout</button>
</form>